* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/minha-fonte.woff2') format('woff2'),
       url('fonts/minha-fonte.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
